/* Imports Google font family: Ubuntu (light, regular, medium, bold) */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-image: url(../img/hero-picture.jpg);
  /* Full page centered background image */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  display: flex;
}

#header-content {
  max-width: 760px;
  margin: auto;
  padding: 0 25px;
}

#title {
  color: #ddd;
  font-size: 6rem;
  margin-bottom: 4rem;
}

#brand {
  font-size: 2rem;
  line-height: 1.5;
}

#cta {
  color: #222;
  background-color: #f06;
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 20px;
}

#cta:hover {
  color: #f06;
  background-color: #222;
  transition: .3s;
}